/* line 1, ../scss/evenZoom.scss */
.evenZoom {
  display: inline-block;
}

/* line 5, ../scss/evenZoom.scss */
.evenZoom .evenZoomLens {
  background-color: #fff;
  box-shadow: -5px -5px 30px rgba(255, 255, 255, 0.7) inset, 5px 5px 20px rgba(0, 0, 0, 0.3) inset, 10px 10px 25px rgba(0, 0, 0, 0.1);
  width: 180px;
  height: 180px;
  border-radius: 10px;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  cursor: none;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 10px #ffffff;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}

/* line 31, ../scss/evenZoom.scss */
.evenZoom .evenZoomLens.hidden {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  visibility: hidden;
}
