
@font-face {
  font-family: 'helveticaneuebd';
  src: url("fonts/helveticaneue-bold.otf"),
  url("fonts/helveticaneue-bold.woff") format("woff"),
}
@font-face {
  font-family: 'helveticaneue';
  src: url("fonts/helveticaneue.eot");
  src: url("fonts/helveticaneue.eot?#iefix") format("embedded-opentype"),
  url("fonts/helveticaneue.ttf") format("truetype");
}
@font-face {
  font-family: 'helveticaneuelt';
  src: url("fonts/helveticaneuelt.eot");
  src: url("fonts/helveticaneuelt.eot?#iefix") format("embedded-opentype"),
  url("fonts/helveticaneuelt.ttf") format("truetype");
}
@font-face {
  font-family: 'helveticaneuethin';
  src: url("fonts/helveticaneue-thin.otf");
}
@font-face {
  font-family: 'helveticaneuemd';
  src: url("fonts/helveticaneue-medium.eot");
  src: url("fonts/helveticaneue-medium.eot?#iefix") format("embedded-opentype"),
  url("fonts/helveticaneue-medium.woff") format("woff"),
  url("fonts/helveticaneue-medium.ttf") format("truetype");
}
@font-face {
  font-family: 'avenirlight';
  src: url("fonts/avenir-light.ttf");
}
@font-face {
  font-family: 'Avenir-Black';
  src: url("fonts/Avenir-Black.eot");
  src: url("fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"),
  url("fonts/Avenir-Black.woff") format("woff"),
  url("fonts/Avenir-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'gothamrounded';
  src: url("fonts/gothamrounded.eot");
  src: url("fonts/gothamrounded.eot?#iefix") format("embedded-opentype"),
  url("fonts/gothamrounded.woff") format("woff"),
  url("fonts/gothamrounded.ttf") format("truetype");
}
@font-face {
  font-family: 'gothamroundedBook';
  src: url("fonts/gothamrounded-book.eot");
  src: url("fonts/gothamrounded-book.eot?#iefix") format("embedded-opentype"),
  url("fonts/gothamrounded-book.woff") format("woff");
}
@font-face {
  font-family: 'helveticaneuecnd';
  src: url("fonts/helveticaneue-condensedbold.woff") format("woff");
}
@font-face {
  font-family: 'dimprobold';
  src: url("fonts/dinpro-bold.ttf");
  src: url("fonts/dinpro-bold.woff") format("woff");
}
@font-face {
  font-family: 'dimproblack';
  src: url("fonts/dinpro-black.ttf");
  src: url("fonts/dinpro-black.woff") format("woff");
}
@font-face {
  font-family: 'dimprolight';
  src: url("fonts/dinpro-light.ttf");
  src: url("fonts/dinpro-light.woff") format("woff");
}
@font-face {
  font-family: 'dimproreg';
  src: url("fonts/dinpro-regular.ttf");
  src: url("fonts/dinpro-regular.woff") format("woff");
}
@font-face {
  font-family: 'dimpromed';
  src: url("fonts/dinpro-medium.ttf");
  src: url("fonts/dinpro-medium.woff") format("woff");
}

img
	{
		-khtml-user-select:none;
		-o-user-select:none;
		-moz-user-select:none;
		user-select:none;
	}
a,a:focus,a:active,a:focus,a:hover,area:focus,area:active,area:focus,area:hover,input[type="submit"],button,select,select:focus {outline:none;border:none;text-decoration:none}

$helveticaneuelt:'helveticaneuelt','Roboto', sans-serif;
$helveticaneue:'helveticaneue','Roboto', sans-serif;
$helveticaneuebd:'helveticaneuebd','Roboto', sans-serif;
$helveticaneuemd:'helveticaneuemd','Roboto', sans-serif;
$helveticaneuethin:'helveticaneuethin','Roboto', sans-serif;
$roboto:'Roboto', sans-serif;
$montserrat:'Montserrat', sans-serif;
$avenirBlack:'Avenir-Black','Nunito', sans-serif;
$avenirlight:'avenirlight', 'Nunito', sans-serif;
$lato:'Lato', sans-serif;
$gothamrounded:'gothamrounded', sans-serif;
$gothamroundedBook:'gothamroundedBook', sans-serif;
$helveticaneuecnd:'helveticaneuecnd', 'Open Sans Condensed' , sans-serif;
$dimbold:'dimprobold','Roboto',sans-serif;
$dimblack:'dimproblack','Roboto',sans-serif;
$dimlight:'dimprolight','Roboto',sans-serif;
$dimreg:'dimproreg','Roboto',sans-serif;
$dimmed:'dimpromed','Roboto',sans-serif;

.hidden_div
	{
		overflow:hidden;
		&:before{position:fixed;content:"";top:0;bottom:0;width:100%;background-color:#fff;background-image:url(../img/loading-bar.gif);background-position:center center;overflow:hidden;background-repeat:no-repeat;z-index:99}
	}
.on-ie-underversion9
	{
		display:none;text-align:center;position:fixed;background:#fff;z-index:999;width:100%;top:0;bottom:0;overflow:hidden;
		.article-ie{margin-top:100px}
		img{display:block;margin:0 auto}
	}
.no-touch.no-svg.no-inlinesvg.no-svgclippaths.no-ie8compat .on-ie-underversion9{display:block}
a, input[type="submit"],button{
	color: inherit;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
p, td, th
	{
		font-family:$helveticaneue;
		font-size:0.875em;
	}
.clearL {clear: both;}
.no-margin {margin:0;}
.no-padding {padding:0;}
.no-pl {padding-left:0;}
.no-pr {padding-right:0;}
.no-list {list-style:none;margin:0;}
.sizeCenter {margin:0 auto;display:block;float:none;}
.captionPage
	{
		text-align:center;
		padding:2em 1.3em 3em;
		p
			{
				font-size:1.03em;
				color:#000;
			}
	}
.titleCenter
	{
		font-family:$helveticaneuethin;
		font-weight:400;
		font-size:2.4em;
		line-height:1.2em;
		margin:0.7em 0 0.6em;
	}
.title
	{
		font-family:$helveticaneuebd;
		font-weight:700;
		margin:0 0 0.3em;
	}
.titleBlue
	{
		font-family:$helveticaneuebd;
		font-weight:700;
		margin:0 0 0.3em;
		color:#007ccd;
	}
.left-top
	{
		position:relative;
		left:3em;
	}
.thumbsShowPdt
	{
		display: inline-block;
		font-family:$helveticaneue;
		font-size: 0.81em;
		color:#9C9A9B;
		padding:1.5em 0;
		position:relative;
		z-index:2;
		.fa
			{
				margin-left:5px;
				width: 1.1em;
			    height: 1.1em;
			    border: solid 1px #9C9A9B;
			    line-height: 1em;
			    text-align: center;
			    padding-right: 1px;
			    border-radius: 100%;
			    margin-right: 5px;
			    opacity: 0.66;
			}
	}
form
	{
		.parsley-error
			{
				background-color:#F2DEDE !important;
			}
		.parsley-errors-list
			{
			    list-style: none;
			    padding: 0;
			    margin: 0;
			    text-align: right;
			    font-size: 0.875em;
			    color: #f00;
			}
		 input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea
		 	{
			    -webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3s ease;
			    -o-transition: all 0.3s ease;
			    transition: all 0.3s ease;
				border-radius:7px;
				padding:0.5em 1em;
				border:solid 1px #cccccc;
				&:focus
					{
						outline:none;
						box-shadow:inset 0px 0px 12px -4px #BDBDBD;
					}
		 	}
		 .subj
			{
				display:block;
				font-family:$helveticaneuebd;
				font-size:0.9375em;
				color:#000;
				text-transform:capitalize;
				margin:0.3em 0;
			}
		label
			{
				padding:0.2em 0;
				display:block;
				clear:left;
			}
	}
.transition
  {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
.transition5
  {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
.transition8
  {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }
.transition1
  {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }