//Grid untuk lima grid
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 18.8%;
  }
  .col-md-2-5 {
    width: 38.8%;
  }
  .col-md-3-5 {
    width: 58.8%;
  }
  .col-md-4-5 {
    width: 78.8%;
  }
  .col-md-5-5 {
    width: 98.8%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 18.8%;
  }
  .col-lg-2-5 {
    width: 28.8%;
  }
  .col-lg-3-5 {
    width: 58.8%;
  }
  .col-lg-4-5 {
    width: 78.8%;
  }
  .col-lg-5-5 {
    width: 98.8%;
  }
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 18.8%;
  }
  .col-sm-2-5 {
    width: 38.8%;
  }
  .col-sm-3-5 {
    width: 58.8%;
  }
  .col-sm-4-5 {
    width: 78.8%;
  }
  .col-sm-5-5 {
    width: 98.8%;
  }
}

.col-half-offset {
  margin-left: 1.5% !important;
}

.col-half-offset2 {
  margin-left: 1.17% !important;
}

.col-half-offset3 {
  margin-left: 1.6% !important;
}