footer {
  padding: 38px 0;
  color: white;
  background: #1c1918;
  position: relative;
  li {
    font-family: $lato;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    float: left;
    padding: 0 13px 0px 0px;
    list-style: none;
    text-decoration: none !important;
  }
  a {
    color: #d5d3d3;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  p {
    a {
      font-size: 28px;
      color: #d5d3d3;
      &:hover {
        color: #fff;
      }
    }
  }
  .reserved {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    bottom: 40px;
    font-size: 13px;
    color: #d5d3d3;
    text-transform: uppercase;
    font-weight: 400;
  }
  .aa_soc {
    font-size: 15px;
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    background-color: #333;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    position: relative;
    border-radius: 2px;
    i {
      position: absolute;
      bottom: 10px;
      right: 0;
      left: 0;
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
    }
  }
}