// Styling header Full review
.top-fullreview {
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #d9dede;
  .profile-header {
    position: relative;
    margin: 16px 16px 16px 5px;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid #e2e2e2;
    &:hover {
      border: 2px solid #02a0c7;
    }
  }
  h1 {
    margin: 15px 0 10px 0px;
    font-size: 26px;
    font-weight: 500;
  }
  .btn-outline-pilihan {
    color: #94a3a6;
    border: solid 1px #94a3a6 !important;
    font-size: 13px;
    margin-right: 1px;
  }
  .dropdown-pilihan {
    font-size: 13px;
    color: #94a3a6;
  }
}

.h-review {
  height: 130px;
  .d-block{
     a {
       color: #2e2e2e;
       text-decoration: none;
       &:hover {
         color: #4e4e4e;
       }
     }
  }
}

.sharebutton {
  position: absolute;
  bottom: 5%;
  right: 0;
  .btn {
    padding: 5px 9px;
  }
  .fa-facebook {
    padding: 0px 3.5px !important;
  }
} // End Styling Header FUll Review
// Styling Content Full review
.sp-content-fullreview {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
  box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
  border-radius: 0;
  border: 1px solid #eee;
  .big-pic-side {
    width: 100%;
    height: 210px;
    background-size: cover !important;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    background-position: center;
  }
  .review-slider {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .nav-tabs {
    background-color: #fff;
    a {
      font-size: 15px;
      font-weight: 400;
      color: #6e6e6e;
    }
    .active {
      font-size: 15px;
      font-weight: 700;
      color: #3694BE !important;
    }
    .wizard-active{
      color: #3694BE !important;
    }
  }
  .post-review {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 0;
    &:focus {
      border-bottom: 1px solid #00A0C2;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
    }
  }
  .btn-post-review {
    color: #6e6e6e;
    border: solid 1px #6e6e6e !important;
    font-size: 12px;
    border-radius: 20px;
    margin-right: 1px;
    background-color: transparent;
  }
  .btn-primary {
    font-size: 11px;
  }
  .tab-content {
    h2 {
      font-size: 16px;
      color: #4e4e4e;
      font-weight: 700;
      padding: 10px 0;
    }
    p {
      font-size: 15px;
      color: #5e5e5e;
      font-weight: 400;
      text-align: justify;
      text-justify: inter-word;
      line-height: 25px;
    }
    .footer {
      font-size: 14px;
      color: #7e7e7e;
      font-weight: 400;
      text-align: justify;
      text-justify: inter-word;
      line-height: 20px;
    }
  }
} // End Styling content fullreview
// Styling sidebar
.sidebar {
  .left {
    left: 20%;
    top: -8%;
  }
  h2 {
    font-family: $lato;
    font-size: 16px;
    padding-top: 0px;
    font-weight: $black;
    color: #4e4e4e;
    span {
      font-weight: 400;
      color: #6e6e6e;
    }
  }
  h3 {
    font-family: $lato;
    font-size: 1.15rem;
    color: #5e5e5e;
    font-weight: 700;
    line-height: 10px;
    margin-bottom: 5px;
    margin-top: 11px;
  }
  .tot-rev {
    font-family: $lato;
    font-size: 0.85rem;
    color: #8e8e8e;
  }
  ul {
    padding-top: 10px;
    list-style: none;
  }
  .pro {
    position: relative;
    li {
      font-family: $openSans;
      font-size: 14.5px;
      color: #4e4e4e;
      padding: 7px 0;
      position: relative;
      &:after {
        content: url('../images/icon/plus.png');
        position: absolute;
        left: -18%;
        bottom: -5%;
        clear: both;
      }
    }
  }
  .con {
    position: relative;
    li {
      font-family: $lato;
      font-size: 14.5px;
      color: #4e4e4e;
      padding: 7px 0;
      position: relative;
      &:after {
        content: url('../images/icon/minus.png');
        position: absolute;
        left: -18%;
        bottom: -5%;
        clear: both;
      }
    }
  }
  .relev {
    position: relative;
    padding-left: 30px;
    li {
      font-family: $lato;
      font-size: 14.5px;
      color: #4e4e4e;
      padding: 7px 0;
      position: relative;
      .btn-outline-pilihan {
        width: 80%;
        text-align: center;
        color: #4e4e4e;
        border: solid 2px #e2e2e2 !important;
        font-family: $lato;
        font-size: 13px;
        background: transparent !important;
        &:hover {
          background: rgba(255, 255, 255, 0.1) !important;
        }
      }
    }
    .checked {
      padding-bottom: 10px;
      &:after {
        content: url('../images/icon/checked.png');
        position: absolute;
        left: -12%;
        bottom: 32%;
        clear: both;
      }
      &:before {
        content: '';
        position: absolute;
        left: -8%;
        bottom: 0%;
        border-bottom: 1px solid #e2e2e2;
        clear: both;
        width: 100%;
        z-index: 99;
      }
    }
    .haveitm {
      padding-top: 10px;
      padding-bottom: 15px;
      position: relative;
      table {
        position: relative;
        left: -10%;
        top: 8px;
        border: none;
        tr {
          border: none;
          td {
            position: relative;
            border: none;
            height: 50px;
            width: 50px;
            span {
              opacity: 1;
              position: absolute !important;
              top: 30%;
              left: 33%;
              font-family: $lato;
              font-size: 14px;
              font-weight: 900;
              color: #2e2e2e;
            }
            .last {
              position: relative;
              opacity: 0.5;
              filter: alpha(opacity=50);
              /* For IE8 and earlier */
            }
            img {
              position: relative;
              display: inline-block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
              display: table-cell;
              vertical-align: middle;
              &:hover {
                border: 2px solid #00A598;
              }
            }
            .online {
              border: 2px solid #00A598;
            }
          }
        }
      }
      .highlight {
        color: #0184bf;
        font-weight: $bold;
      }
      &:after {
        content: url('../images/icon/highlight.png');
        position: absolute;
        left: -11%;
        top: 12%;
        clear: both;
      }
      &:before {
        content: '';
        position: absolute;
        left: -8%;
        bottom: 0%;
        border-bottom: 1px solid #e2e2e2;
        clear: both;
        width: 100%;
        z-index: 99;
      }
    }
  }
}

#review {
  .top-nav-rev {
    span {
      font-family: $lato;
      font-size: 14px;
      padding-left: 20px;
      color: #6e6e6e;
    }
    .form-control {
      width: 90%;
      height: 25px;
      font-family: $lato;
      font-size: 14px;
      padding: 2px;
      margin-left: 2px;
      text-align: center;
    }
  }
  .main-rev {
    font-family: $lato;
    color: #4e4e4e;
    .form-group{
      margin-bottom: 0.5em;
      label{
        margin-bottom: .25rem;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin: 0px 0 15px;
        .card {
          position: relative;
          background-color: #fff;
          -webkit-box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
          box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
          border-radius: 5;
          border: 1px solid #eee;
          .rev-content {
            background-color: rgba(249, 249, 249, 0.7);
            height: 100%;
          }
          .card-header {
            background-color: #e8e8e8;
            padding: 8px 20px;
            color: #2e2e2e;
            border: none;
            b {
              font-family: $lato;
              font-size: 16px;
              font-weight: 700;
              margin-right: 5px;
            }
            span {
              font-family: $lato;
              font-size: 14px;
              color: #6e6e6e;
              font-weight: 400;
              display: inline-block;
              line-height: 29.5px;
              a {
                font-family: $lato;
                font-size: 13px;
                font-weight: $bold;
              }
            }
            .dropdown {
              .fa {
                -webkit-appearance: none !important;
              }
            }
            .dropdown-menu {
              .dropdown-divider {
                margin: 0.5rem 0;
              }
              padding: 15px 10px 20px;
              li {
                padding: 0 10px;
                &:hover {
                  background: #e9e9e9;
                }
                a {
                  color: #3e3e3e;
                }
              }
            }
          }
          .card-body {
            .cir-middle {
              right: -10%;
              top: 100px;
            }
            padding:0;
            
            .label-kreteria {
              color: #4e4e4e;
              font-family: $lato;
              font-size: 14px;
              font-weight: 700;
              padding-left: 30px;
            }
            .p-progress {
              padding: 8px 70px 6px 5px;
            }
            .progress {
              height: 13px;
            }
            h3 {
              font-family: $lato;
              font-size: 15px;
              font-weight: $black;
              color: #4e4e4e;
              padding: 10px 25px 10px;
              margin: 0;
            }
            h2 {
              font-family: $lato;
              font-size: 14px;
              font-weight: 700;
              margin-bottom: 15px;
              text-transform: uppercase;
              color: #4e4e4e;
            }
            p {
              font-family: $lato;
              font-size: 14px;
              color: #5e5e5e;
              line-height: 25px;
            }
            .thumb-up {
              background-color: #e4f4fa;
              width: 85%;
              border: solid 1px #3fc4f5;
              .fa {
                font-size: 60px;
                color: #4d4d4d;
              }
              .rekomendasi {
                font-size: 18px;
                color: #5e5e5e;
                font-weight: 700;
              }
              .footage {
                font-size: 16px;
                color: #5e5e5e;
                font-weight: 400;
              }
            }
            .thumb-down {
              background-color: #f7d9d5;
              width: 85%;
              border: solid 1px #F45944;
              .fa {
                font-size: 60px;
                color: #4d4d4d;
              }
              .rekomendasi {
                font-size: 18px;
                color: #5e5e5e;
                font-weight: 700;
              }
              .footage {
                font-size: 16px;
                color: #5e5e5e;
                font-weight: 400;
              }
            }
            .media {
              padding-top: 15px;
              padding-left: 15px;
              .user {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                &:hover {
                  border: 2px solid #00A598;
                }
              }
              .media-body {
                padding-top: 5px;
                line-height: 17px;
                .label-username {
                  color: #394741;
                  font-family: $lato;
                  font-size: 16px;
                  font-weight: 700;
                }
                .follow {
                  color: #7ac3c1;
                  font-family: $lato;
                  font-size: 14px;
                  font-weight: 700;
                  padding: 0 0 3px 5px;
                }
                .label-trending {
                  color: #FF001A;
                  font-family: $lato;
                  font-size: 13px;
                  font-weight: 500;
                }
                .label-superadmin {
                  color: rgb(15, 170, 158);
                  font-family: $lato;
                  font-size: 13px;
                  font-weight: 700;
                }
                .label-review {
                  color: #5e5e5e;
                  font-family: $lato;
                  font-size: 11px;
                  font-weight: 400;
                }
                .btn-outline-pilihan {
                  background: none;
                  border: none;
                }
                .btn {
                  &:focus {
                    outline: none;
                    box-shadow: none;
                  }
                }
              }
            }
            ul {
              padding-top: 10px;
              list-style: none;
              padding-left: 30px;
            }
            .pro {
              position: relative;
              li {
                font-family: $lato;
                font-size: 14.5px;
                color: #4e4e4e;
                padding: 0 0 0 40px;
                position: relative;
                &:after {
                  content: url('../images/icon/plus.png');
                  position: absolute;
                  left: 0%;
                  top: -3px;
                  clear: both;
                }
              }
            }
            .con {
              position: relative;
              li {
                font-family: $lato;
                font-size: 14.5px;
                color: #4e4e4e;
                padding: 0px 0 0 40px;
                position: relative;
                &:after {
                  content: url('../images/icon/minus.png');
                  position: absolute;
                  left: 0%;
                  top: -3px;
                  clear: both;
                }
              }
            }
          }
          .card-footer {
            background-color: #fff;
            font-family: $lato;
            font-size: 14px;
            a {
              color: #8e8e8e;
              &:hover {
                color: #2e2e2e;
              }
            }
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
} // End styling side bar
// Styling recomendation sectiion
.related {
  font-family: $lato;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 900;
  color: #4e4e4e;
  span {
    font-weight: 400;
    color: #6e6e6e;
  }
}

.sp-content-recomendation {
  background-color: #fff;
  padding-top: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 1;
  .big {
    height: 496px !important;
  }
  .lil {
    height: 242px !important;
  }
  .card {
    position: relative;
    display: block;
    margin-bottom: 12px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    &:hover {
      background-color: #fff;
      -webkit-box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
      box-shadow: 0 2px 1px rgba(51, 51, 51, 0.05);
      border-radius: 2px;
      border: 1px solid #e2e2e2;
    }
    .card-title-explore {
      color: #3e3e3e;
      position: absolute;
      bottom: 59.3%;
      padding: 10px 50px 13px 15px;
      background-color: rgba(255, 255, 255, 0.65);
      line-height: 18px;
      font-weight: 700;
      font-size: 16px;
    }
    .card-body-lil {
      padding-top: 10px;
      padding-right: 55px;
      padding-bottom: 10px;
      padding-left: 15px;
      position: absolute;
      bottom: 37px;
      background-color: rgba(255, 255, 255, 0.7);
      width: 100%;
      .card-title {
        color: #3e3e3e;
        padding-bottom: 0px;
        font-weight: 700;
        font-size: 15.5px;
        line-height: 20px;
        margin: 0;
      }
    }
    .tag-lil-review {
      font-family: sans-serif;
      position: absolute;
      top: 0;
      left: 7%;
      padding: 3px 15px;
      font-size: 13px;
      background-color: #029fc6;
      color: #fff;
      font-weight: $bold;
    }
  }
  .explore-review-img {
    height: 200px !important;
    object-fit: cover;
  }
  .card-body {
    padding: 10px 15px;
    color: #2e2e2e;
    .card-text-lil {
      margin-bottom: 6px;
      font-size: 13.2px;
      font-weight: $bold;
      color: #070707;
    }
    .card-text-lil-deskripsi {
      margin-bottom: 0;
      font-size: 12px;
      color: #515355;
      margin-bottom: 5px;
    }
    .card-text-kriteria {
      font-size: 12px;
      margin-bottom: 0px;
      font-weight: $bold;
    }
    .progress {
      height: 0.7rem;
      .progress-bar {
        background-color: #3fc4f5 !important;
        position: relative;
        p {
          position: absolute;
          right: 10px;
        }
      }
    }
  }
  .card-footer {
    padding: 0.5rem 1rem;
    font-size: 12.5px;
    color: #777777;
    background: transparent;
    b {
      color: #7f7f7f;
      font-weight: 400;
      font-size: 12.5px;
    }
    a {
      text-decoration: none;
      color: #029FC6;
    }
  }
  img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
} // End recomendation section