.navbar-light {
  background-color: #fff;
}

.navbar {
  font-weight: $bold;
  font-size: 0.875rem;
  border-bottom: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  right: 0;
  left: 0;
  z-index: 103;
  .dropdown-menu {
    right: 0;
  }
  .btn {
    padding: 0 10px;
    background: #f3f3f3;
    font-size: 14px;
    color: #304c54;
    border: 1px solid #ced4da;
    border-left: transparent;
    height: 38px;
    width: 100%;
    border-radius: 0;
    height: 33.5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.nav-up {
  top: -40px;
}

.navbar-brand {
  text-transform: none;
  margin-right: 0 !important;
  min-width: 9.875rem;
  text-indent: -9999px;
  background: url(../images/Logo-white.png) no-repeat;
  background-position: center;
}

.navbar-brand2 {
  text-transform: none;
  margin-right: 0 !important;
  min-width: 9.875rem;
  text-indent: -9999px;
  background: url(../images/Logo-color.png) no-repeat;
  background-position: center;
}

.navbar-brand-scroll {
  text-transform: none;
  margin-right: 0 !important;
  min-width: 9.875rem;
  text-indent: -9999px;
  background: url(../images/Logo-color.png) no-repeat;
  background-position: center;
}

.rev-navbar-dark {
  color: #304c54 !important;
}

.top-nav-collapse {
  background-color: rgba(255, 255, 255, 1);
  display: block;
  margin-bottom: 0.75rem;
  -webkit-box-shadow: 0 0.125rem 0.0625rem rgba(51, 51, 51, 0.05);
  box-shadow: 0 0.125rem 0.0625rem rgba(51, 51, 51, 0.05);
  border-radius: 0.0625rem;
  border: 0.125rem solid #eee;
}

.login-border {
  font-weight: $bold;
  color: rgba(255, 255, 255, 0.9);
  border: solid 1px rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 0.3rem 1rem !important;
  font-size: 0.875rem;
  text-decoration: none;
  &:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
  }
}

.login-border2 {
  font-weight: $bold;
  color: rgba(48, 76, 84, 1);
  border: solid 1px rgba(48, 76, 84, 1);
  border-radius: 3px;
  padding: 0.3rem 1rem !important;
  font-size: 0.875rem;
  text-decoration: none;
  &:hover {
    color: rgba(48, 76, 84, 0.75);
    text-decoration: none;
  }
}

.login-border3 {
  font-weight: $bold;
  color: rgba(48, 76, 84, 1);
  border: solid 1px #94a3a6 !important;
  border-radius: 3px;
  padding: 0.3rem 0.5rem !important;
  font-size: 0.875rem;
  text-decoration: none;
  &:hover {
    color: solid 1px rgba(48, 76, 84, 1);
    text-decoration: none;
  }
}

.login-border4 {
  font-weight: $bold;
  color: rgba(48, 76, 84, 1);
  border: solid 1px #94a3a6 !important;
  border-radius: 3px;
  padding: 0.3rem 0.6rem !important;
  font-size: 0.875rem;
  text-decoration: none;
  &:hover {
    color: solid 1px rgba(48, 76, 84, 1);
    text-decoration: none;
  }
}

.kategori-border {
  border: solid 1px rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 0.3rem 2rem !important;
  font-size: 0.875rem;
}

.kategori-border2 {
  border-radius: 3px;
  padding: 0.3rem 2rem !important;
  font-size: 0.875rem;
  border: solid 1px rgba(48, 76, 84, 1),
}

.top-news {
  height: 40px;
  margin-top: 62px;
  position: relative;
  .top-news-title {
    position: relative;
    z-index: 2 !important;
    color: #fff;
    width: 350px;
    padding: 9.3px 0 9.3px 150px;
    font-size: 15px;
    font-weight: 700;
    background-color: #1e1e1e;
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 38.25%;
      right: 25%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 7px;
      border-color: transparent transparent transparent #fff;
    }
  }
  .top-news-content {
    background-color: #f6f6f6;
    align-content: left;
    display: inline;
    font-size: 1rem;
    overflow: hidden !important;
    padding: 8px 1.8rem;
    font-weight: 400;
    a {
      color: #444444;
      font-size: 15px;
      margin-right: 12px;
      &:hover {
        color: #44a39b;
        transition: 0.2s;
        left: -100;
      }
    }
  }
}

.shadow-effect {
  -webkit-box-shadow: 0 0.125rem 0.0625rem rgba(51, 51, 51, 0.05);
  box-shadow: 0 0.125rem 0.0625rem rgba(51, 51, 51, 0.05);
  border-bottom: 0.125rem solid #eee;
}

.bb-effect {
  border-bottom: 0.125rem solid #eee;
}

// class untuk mengatu mega menu
.mega-menu {
  position: relative;
  margin-top: 0.8rem;
  width: 800px;
  overflow: hidden;
  padding: 10px 20px 15px;
  border-radius: 0;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .03), 0 2px 8px 0 rgba(0, 0, 0, .07);
  img {
    border-radius: 2px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .03), 0 2px 8px 0 rgba(0, 0, 0, .07);
  }
  .submenu-header {
    padding: 10px 15px 5px;
    h2 {
      font-size: 18px;
    }
  }
  .submenu {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(20% - 4em);
    flex: 0 1 calc(20% - 4em);
    height: 5em;
    padding: 0;
    border-bottom: none;
    border-radius: 2px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .03), 0 2px 8px 0 rgba(0, 0, 0, .07);
    background-size: cover !important;
  }
} // End mega menu
// Search Navbar 
.navbar-form {
  .form-control {
    padding: 0 0.75rem !important;
    outline: none;
    box-shadow: none !important;
    border: 1px solid rgb(206, 212, 218);
    border-right: transparent !important;
  }
}

.nav-item {
  img {
    height: 33px;
    width: 33px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.nav-full {
  height: 100%;
}