.news-container {
  padding: 0 2rem;
  background-color: #fff;
}



.big-metro-news{
  height: 508px;
  position: relative;
  background-size: cover !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  background-position: center;
  &:hover{
    .overlay{
       opacity: .35;
    }
  }
  .news-title{
    position: absolute;
    padding-right: 30px;
    bottom: 15%;
    left: 5%;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    font-family: $lato;
    z-index: 5;
  }
  .news-footage{
    position: absolute;
    padding-right: 30px;
    font-weight: 700;
    bottom: 5%;
    left: 5%;
    color: #9d9d9d;
    font-family: $openSans;
    z-index: 5;
   
    span{
      color: #43a599 !important;
    }
  }
  .big-tag{
    position: absolute;
    font-size: 14px;
    top: 3%;
    left: 5%;
    padding: 3px 16px;
    background-color: rgba(67, 165, 153, 0.8);
    color: #fff;
    font-weight: $bold;
    z-index: 3;
  }
}

.metro-news{
  width: 100% ;
  height: 250px;
  position: relative;
  background-size: cover !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  background-position: center;
   &:hover {
     .overlay {
       opacity: .35;
     }
   }
  .news-title{
    position: absolute;
    padding-right: 30px;
    bottom: 18%;
    left: 5%;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    font-family: $lato;
    z-index: 5;
  }
    .news-footage {
      position: absolute;
      padding-right: 30px;
      font-weight: 700;
      bottom: 5%;
      left: 5%;
      color: #9d9d9d;
      font-family: $openSans;
       font-size: 16px;
      z-index: 5;
      span {
        color: #43a599 !important;
      }
    }
  .lil-tag{
    position: absolute;
    font-size: 14px;
    top: 3%;
    left: 5%;
    padding: 3px 16px;
    background-color: rgba(67, 165, 153, 0.8);
    color: #fff;
    font-weight: $bold;
  }
}

.img-thumbnail{
  padding:0px;
  border-radius: 3px;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.figure{
  position: relative !important;

  &:hover{
    .figure-caption{
 
      transition: all .2s ease-out;
      -webkit-transition: all .2s ease-out;
      background-position: center;
      color: #43a599 !important;
    }
  }
  .figure-caption{
    font-size: 18px;
    font-family: $openSans;
    color: #2e2e2e;
    font-weight: $bold;
    line-height: 25px;;
  }
  .figfooter{
    padding-top: 5px;
    font-size: 14px;
    font-family: $lato;
    color: #999999;
    font-weight: $bold;
  }
  .auth{
    color: #43a599 !important;
  }
   .tag-lil-news {
     position: absolute;
     font-size: 13.7px;
     top: 2%;
     left: 5%;
     padding: 3px 15px;
     background-color: rgba(67, 165, 153, 0.8);
     color: #fff;
     font-weight: $bold;
   }
}

.pop-news{
  padding:1rem 0 0.3rem;
  background-color: #fff;
  border-radius: 0.0625rem;
}
.sp-news-new{
  background-color: #fff;
  box-shadow: 0 0.125rem 0.0625rem rgba(51, 51, 51, 0.05);
  border-radius: 0.0625rem;
  ul{
    list-style: none;
    padding: 0 0;
    li{
      padding: 1.5rem 0 0;
      .wrapper{
        position: relative;
        display: inline-block;
        width: 100% !important;
      }
      .big-news{
       .big-news-wrapper{
         &:hover{
           .overlay{
             opacity: .35 !important;
           }
         }
          position: relative;  
          width: 100%;
          height: 320px;
          object-fit: cover;
          transform: scale(1);
          -webkit-transform: scale(1);
          transition: all .2s ease-out;
          -webkit-transition: all .2s ease-out;
          background-position: center;
          .tag-lil {
            position: absolute;
            font-size: 14px;
            top: 3%;
            left: 5%;
            padding: 3px 16px;
            background-color : #43a599 !important;
            color: #fff;
            font-weight: $bold;
          }
          .news-title{
            position: absolute;
            padding-right: 30px;
            bottom: 15%;
            left: 5%;
            color: #fff;
            font-size: 28px;
            font-weight: 700;
            line-height: 30px;
            font-family: $lato;
          }
          .news-footage{
            position: absolute;
            padding-right: 30px;
            font-size: 14px;
            font-weight: 700;
            bottom: 5%;
            left: 5%;
            color: #9d9d9d;
            font-family: $openSans;
            z-index: 5;
            position: absolute;
            padding-right: 30px;
          }
       }

      }
      .tag-lil-news {
        position: absolute;
        font-size: 13.7px;
        top: 5px;
        left: 1%;
        padding: 3px 15px;
        background-color: rgba(67, 165, 153, 0.8);
        color: #fff;
        font-weight: $bold;
      }
      img{
        border-style: none;
        object-fit: cover;
        height: 160px;
        width: 270px;
        float: left;
        margin: 0 1.5rem 0 0;
        display: block;
      }
      a{
        display: block;
        &:hover{
          .text-title{
            transition: all .2s ease-out;
            -webkit-transition: all .2s ease-out;
            background-position: center;
            color:#43a599 !important
          }
        }
        .text-title{
          margin-bottom: 0;
          font-size: 20px;
          font-family: "Open Sans",
          sans-serif;
          font-weight: 700;
          line-height: 26px;
          color: #3f3f3f;
        }
        p{
          padding-top: 10px;
          margin-bottom: 10px;
          font-size: 16px;
          font-family: "Open Sans",
          sans-serif;
          font-weight: 500;
          color: #7d7d7d;
          line-height: 24px !important;
        }
      }
      .text-footer {

        font-weight: 700;
        margin-top: 10px;
        font-size: 14px;
        font-family: "Lato", sans-serif;
        color: #8d8d8d;
        span{
          color: #43a599;
        }
      }

      &:first-child{
        padding-top: 15px !important;
      }
    }
  }
}
// Rekomendasi
.side-news{
  background-color: #fff;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  ul{
    list-style: none;
    padding: 0;
    margin-bottom:0;
    li{
      .wrapper{
        position: relative;
        display:inline-block;
      }
      &:first-child{
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      margin: 20px auto;
      position: relative;
      img{
        width: 80px;
        height: 60px;
        object-fit: cover;
        float: left;
        margin: 0 0.9rem 0 0;
      }
      .tag-lil{
        font-size: 12.5px;
        font-family: $openSans;
        color: rgba(67, 165, 153, 0.8);
        font-weight: $bold;
        margin-bottom: 5px;
      }
      .text-title{
  
        font-size: 14.75px;
        font-family: $lato;
        font-weight: 700;
        line-height: 17px;
        color: #4d4d4d;
      }
    }
  }
}

.giveaway-sidebar{
  height: 202px;
  width: 100%;
  position: relative;
  background-size: cover !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  background-position: center;
   &:hover {
     .overlay{
       opacity: .35;
     }
   }
  .giveaway-title {
    position: absolute;
    padding-right: 30px;
    bottom: 20%;
    left: 5%;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    font-family: $lato;
    z-index: 5;
  }
  .giveaway-footage {
    position: absolute;
    padding-right: 30px;
    font-weight: 700;
    bottom: 5%;
    left: 5%;
    color: #9d9d9d;
    font-family: $openSans;
    z-index: 5;
    font-size: 14px;
    }
}